<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.oppo.OP486C.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.product.system.device"
                android:requiredSystemPropertyValue="OP486C"
        android:priority="1340"
        android:isStatic="true" />
</manifest>
